<style type="text/css">
  .ex1 {
    font:10px arial,sans-serif;
  }
</style>

<script type="text/javascript">
  <%= jquery_content %>
</script>
<script type="text/javascript">
  <%= js_content %>
</script>

<form name="keyPhrases">
  <div id="contextInfo" style="display:block"></div>
</form>
